*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0.625rem;
  padding: 0.625rem;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 204px;
  height: 204px;
  border: black solid 0.125rem;
}
.square {
  width: 20px;
  height: 20px;
}
.snake {
  background-color: black;
}
